<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h2>Choose What You Wanna See: </h2>  
</div>
<nav  class = "nav justify-content-center">
  <a class="btn btn-primary btn-lg" href="#" role="button">Player Stats</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Leagues Stats</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Clans Stats</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">VS From Players</a>
  </nav>

<router-outlet></router-outlet>
